body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text{
    background-color: hsl(244, 38%, 16%);
    width: 400px;
    height: 310px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 50px;
}
h1{
    font-size: 1.5em;
    font-weight: 700;
}
.inner-text{
    color: hsl(277, 64%, 61%);
}
.text p{
    font-size: 0.65em;
    font-weight: lighter;
    margin-top: 20px;
    padding-right: 45px;
    line-height: 1.7em;
    color: hsla(0, 0%, 100%, 0.75);
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
h2{
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0px;
}
.stat p{
    font-size: 0.5em;
    font-weight: lighter;
    letter-spacing: 0.1em;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 0px;
}
.image{
    position: relative;
    display: inline-block;
}
.image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(277, 64%, 65%);
    mix-blend-mode: multiply;
}
img{
    width: 400px;
    height: 310px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 650px){
    .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .text{
        width: 250px;
        height: 390px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
        padding: 20px;
        margin-bottom: 20px;
    }
    h1{
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;
    }
    .text p{
        text-align: center;
        margin-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }
    h2{
     text-align: center;
    }
    .stat p{
        font-size: 0.5em;
        margin-top: 5px;
    }
    img{
        width: 250px;
        height: 180px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 0px;
        margin-top: 30px;
    }
    .attribution { 
        font-size: 11px; 
        text-align: center; 
        margin-top: 20px;
    }
}